.dogs__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // align-items: flex-start;
}

// .dogs__main>*{
//     flex: 1 150px
// }

.dogs__combo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}



.dogs-aside {
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    border: 12px solid black;
    border-radius: 30px;
    margin-right: 33px;
    border-color: #bac9ff;

}


.dogs-aside__main {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.dogs-aside__main-2 {
    display: flex;
    max-width: 15px;
    flex-wrap: wrap;
    flex-direction: column;
}
.dogs-aside__main-2 select {
    max-width: 175px;
}

.dogs-aside__h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;

}

.dogs-aside__main p {
    margin: 10px;
}


